Experiment with QuantConnect's research environment

https://www.quantconnect.com/docs/research/overview

In [1]:
from clr import AddReference
AddReference("System")
AddReference("QuantConnect.Common")
AddReference("QuantConnect.Research")
AddReference("QuantConnect.Indicators")
from System import *
from QuantConnect import *
from QuantConnect.Data.Market import TradeBar, QuoteBar
from QuantConnect.Research import *
from QuantConnect.Indicators import *
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import pandas as pd

# Create an instance
qb = QuantBook()

/opt/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning: The module was found, but not in a referenced namespace.
Implicit loading is deprecated. Please use clr.AddReference('System.Memory').

In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /opt/miniconda3/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
#eurusd = qb.AddForex("EURUSD")
usdjpy = qb.AddForex("USDJPY")

In [15]:
start_time = datetime(2018, 1, 1) # start datetime for history call
end_time = datetime(2019, 1, 1) # end datetime for history call

history = qb.History(qb.Securities.Keys, start_time, end_time, Resolution.Minute)

In [18]:
# Consolidate/resample the data into different timeframe

# Drop level 0 index (symbol index) from dataframe
dropped = history.reset_index(level = 0, drop = True)
#history.reset_index(level = 0, drop = True, inplace=True)

close_prices = dropped["close"]

# 1D = 1 day
# 1H = 1 hour
# 5T = 5 minutes

offset = "6H" 
consolidated = close_prices.resample(offset).ohlc()
consolidated

                         open      high       low     close
time
2018-01-01 12:00:00  112.6660  112.6825  112.5890  112.5915
2018-01-01 18:00:00  112.5915  112.7880  112.5915  112.7105
2018-01-02 00:00:00  112.7100  112.7365  112.1210  112.1335
2018-01-02 06:00:00  112.1390  112.2620  112.0770  112.1895
2018-01-02 12:00:00  112.1730  112.3565  112.1730  112.2305
...                       ...       ...       ...       ...
2018-12-30 12:00:00  110.2990  110.3270  110.2990  110.3015
2018-12-30 18:00:00  110.3015  110.4715  110.3015  110.4165
2018-12-31 00:00:00  110.4100  110.4305  110.0110  110.0460
2018-12-31 06:00:00  110.0405  110.0600  109.6665  109.7040
2018-12-31 12:00:00  109.7045  109.7270  109.5635  109.5900

[1457 rows x 4 columns]

In [13]:
close_prices

time
2018-01-01 17:01:00    112.6660
2018-01-01 17:02:00    112.6760
2018-01-01 17:03:00    112.6760
2018-01-01 17:04:00    112.6540
2018-01-01 17:05:00    112.6500
                         ...
2018-12-31 16:56:00    109.6025
2018-12-31 16:57:00    109.5950
2018-12-31 16:58:00    109.5910
2018-12-31 16:59:00    109.5955
2018-12-31 17:00:00    109.5900
Name: close, Length: 372840, dtype: float64